<div class="ui form segment">
  <h4 class="ui header">Colour</h4>

  <div class="ui segment" ng-style="{'background-color': currentColour}"/>

  <div class="field">
    <label>
      Red
    </label>
    <div class="ui left labeled">
      <channel-slider universe="universe" channelid="redChannel" />
    </div>
  </div>
  <div class="field">
    <label>
      Green
    </label>
    <div class="ui left labeled">
      <channel-slider universe="universe" channelid="greenChannel" />
    </div>
  </div>
  <div class="field">
    <label>
      Blue
    </label>
    <div class="ui left labeled">
      <channel-slider universe="universe" channelid="blueChannel" />
    </div>
  </div>
</div>